body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e; /* Dark background */
    color: #fff; /* White text color */
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #554c4c; /* Darker container background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* White shadow */
    text-align: center;
    animation: heartbeat 5s infinite ease-in-out;
  }
  
  h1 {
    color: #ff4d4d; /* Red text color */
  }
  
  .form-container {
    margin-top: 30px;
  }
  
  form {
    display: inline-block;
  }
  
  label {
    font-size: 20px;
    font-weight: bold;
  }
  
  input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff4d4d; /* Red button background color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #e60000; /* Darker red hover color */
  }
  
  @keyframes heartbeat {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.05);
    }
    50% {
      transform: scale(1);
    }
    75% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
  